<!-- Start Article -->
<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4><%= t("store.related_product") %></h4>
        </div>
        <!--Start Carousel Wrapper-->
        <div id="carousel-related-product" class="your-class">
          <%= render "item" %>
        </div>
    </div>
</section>
<!-- End Article -->
